*.pth
*.pkl
*.pt
*.pth.tar
*.pkl.tar
*.pt.tar
*.pth.tar.gz
*.pkl.tar.gz
*.pt.tar.gz

*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
build
install
log

# Miscellaneous
crash course/data/MNIST/raw/*
*/src/actuator_msgs/
*/venv/

# submodules
.gitmodules

node_modules
*venv