[submodule "controls/sae_2025_ws/src/actuator_msgs"]
	path = controls/sae_2025_ws/src/actuator_msgs
	url = https://github.com/rudislabs/actuator_msgs.git
[submodule "controls/sae_2025_ws/src/px4_msgs"]
	path = controls/sae_2025_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15
[submodule "controls/sae_2025_ws/src/ros_gz"]
	path = controls/sae_2025_ws/src/ros_gz
	url = https://github.com/gazebosim/ros_gz.git
	branch = humble
