<?xml version="1.0"?>
<model>
  <name>DLZ_PINK_8X8</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Penn Aerial Robotics</name>
    <email>board@pennaerial.com</email>
  </author>

  <description>
    8x8 meter pink DLZ for testing
  </description>
</model>
